<ul class="social-links">
    <li><a href=https://www.facebook.com/myuan0154><i class="ion-social-facebook"></i></a></li>
    <li><a href=https://twitter.com/imsotasty69><i class="ion-social-twitter"></i></a></li>
    <li><a href=https://www.instagram.com/michaell_yuan><i class="ion-social-instagram"></i></a></li>
    <li><a href=https://github.com/mty6/personal-website><i class="ion-social-github"></i></a></li>
    <li><a href=https://www.linkedin.com/in/michael-yuan-25409a143><i class="ion-social-linkedin"></i></a></li>
</ul>